option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_PORT: 8080
    APP_BASIC_AUTH: usuario:contraseña
    APP_DEBUG: false
    APP_OS: Chrome
    WHATSAPP_AUTO_MARK_READ: false
    WHATSAPP_AUTO_DOWNLOAD_MEDIA: true
    WHATSAPP_ACCOUNT_VALIDATION: true
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: statics
  aws:elasticbeanstalk:environment:proxy:ProxyServer:
    ProxyServer: nginx
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 5
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

files:
  "/etc/nginx/conf.d/01_health.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /health {
        proxy_pass http://127.0.0.1:8080/;
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_set_header Host $host;
      }

